
<div>
     <a class="button" data-open="edit-profile"><i class="fa fa-gear fa-lg"></i> Edit profile</a>


    <div class="reveal rail-panel small-10 medium-10 large-10" id="edit-profile" data-reveal>
        <div class="rail-panel-inner">
            <div class="rail-header">
                <div class="flex">
                    <div class="flex flex-start">
                        {{ "EDIT_PROFILE" | translate }}
                    </div>
                    <div class="flex flex-end">
                        <button  data-close aria-label="Close modal" ng-click="close()" type="button">
                            <i class="fa fa-times fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="rail-content">
                <form name="editForm" enctype="multipart/form-data">
                    <div class="row">
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>{{ "WORD_FIRST_NAME" | translate }}</label>
                                <input type="text" data-ng-model="user.firstname" name="firstname" required/>
                                <div ng-messages="editForm.firstname.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>{{ "WORD_LAST_NAME" | translate }}</label>
                                <input type="text" data-ng-model="user.lastname" name="lastname" required>
                                <div ng-messages="editForm.lastname.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>{{ "WORD_PASSWORD" | translate }}</label>
                                <input type="password" name="newPassword" data-ng-model="user.passwordNew" />
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>{{ "PASSWORD_RETYPE" | translate }}</label>
                                <input type="password" match-password="newPassword" name="confirmPassword" data-ng-model="user.passwordConfirm" />
                                <div ng-messages="editForm.confirmPassword.$error">
                                    <div ng-message="passwordMatch">{{ "FORM_MATCH_PASSWORD" | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                     <div class="row">
                        <div class="small-12 medium-12 large-6 columns">
                            <md-input-container  class="md-block" flex-gt-xs>
                                <label>{{ "WORD_ADDRESS" | translate }}</label>
                                <input type="text" data-ng-model="user.address" name="address"/>
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-3 columns">
                            <md-input-container  class="md-block" flex-gt-xs>
                                <label>{{ "WORD_CITY" | translate }}</label>
                                <input type="text" data-ng-model="user.city" name="city" required>
                                <div ng-messages="editForm.city.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-3 columns">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>{{ "WORD_COUNTRY" | translate }}</label>
                                <md-select ng-model="user.country_id" name="country" required>
                                    <md-option ng-repeat="country in countries" value="{{country.id}}">
                                        {{country.name}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="editForm.country.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>{{ "WORD_EMAIL" | translate }}</label>
                                <input type="email" data-ng-model="user.email" name="email" ng-pattern="/^.+@.+\..+$/" required/>
                                <div ng-messages="editForm.email.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    <div ng-message="pattern">{{ "FORM_EMAIL_ERROR" | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>{{ "WORD_BIRTHDAY" | translate }}</label>
                                <input type="date" data-ng-model="user.birthdayNew" max="2100-12-31" min="1900-01-02">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>Twitter</label>
                                <input type="text" data-ng-model="user.Twitter" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>LinkedIn</label>
                                <input type="text" data-ng-model="user.LinkedIn" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>Facebook</label>
                                <input type="text" data-ng-model="user.Facebook" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>Pinterest</label>
                                <input type="text" data-ng-model="user.pinterest" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>YouTube</label>
                                <input type="text" data-ng-model="user.youtube" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>Instagram</label>
                                <input type="text" data-ng-model="user.instagram" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                        </div>
                        <div class="small-12 medium-6 large-6 columns">
                            <md-input-container>
                                <label>Flickr</label>
                                <input type="text" data-ng-model="user.flickr" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-8 medium-6 large-6 columns">
                            <md-button type="file" ngf-select ng-model="picFile" name="file"
                                       accept="image/*" ngf-max-size="2MB" ngf-pattern="'image/*'"
                                       ngf-model-invalid="errorFile">select profile picture</md-button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="errors">
                                <i ng-show="editForm.file.$error.maxSize"> {{ "ERROR_FILE_SIZE" | translate }}
                                        {{errorFile.size / 1000000|number:1}}MB: max 2MB</i>
                                <i ng-show="editForm.file.$error.pattern"> The file format is not allowed</i>
                            </div>
                            <img ng-show="editForm.file.$valid" ngf-src="picFile" class="thumb">
                            <button ng-click="picFile = null" ng-show="picFile">{{ "REMOVE" | translate }}</button>
                        </div>
                    </div>

                    <div class="flex flex-center">
                        <md-button ng-disabled="editForm.$invalid " class="button" data-ng-disabled="triggeredProfile" data-ng-click="editProfile()">
                            {{ "SAVE" | translate }}
                        </md-button>
                        <div class="inline flex-start" data-ng-if="triggeredProfile">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      
    </div>
</div>
