<div>
    <a class="button full-width" data-open="addComment">{{ "FORUM_ADD_COMMENT" | translate }}</a>

    <div class="reveal rail-panel small-10 medium-10 large-10" id="addComment" data-reveal>
        <div class="rail-panel-inner">
            <div class="rail-header">
                <div class="flex">
                    <div class="flex flex-start">
                    {{ "FORUM_ADD_COMMENT" | translate }}
                    </div>
                    <div class="flex flex-end">
                        <button  data-close aria-label="Close modal" ng-click="addCommentCtrl.close()" type="button">
                            <i class="fa fa-times fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="rail-content">
                <form data-ng-submit="addCommentCtrl.addComment()" name="commentForm">
                    <div class="row">
                        <div class="large-12 columns">
                            <md-input-container class="md-block">
                                <label>{{ "WORD_COMMENT" | translate }}</label>
                                <textarea ng-model="addCommentCtrl.comment.content" name="content" md-maxlength="400" rows="5" md-select-on-focus required></textarea>
                                <div ng-messages="commentForm.content.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    <div ng-message="md-maxlength" data-translate="FORM_MAX_LENGTH" data-translate-value-max="{{ 400 }}"></div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="flex flex-center">
                        <md-button type="submit" class="button no-margin" ng-disabled="commentForm.$invalid" data-ng-disabled="addCommentCtrl.triggeredComment">
                            {{ "FORUM_ADD_COMMENT" | translate }}
                        </md-button>
                        <div class="inline flex-start" data-ng-if="addCommentCtrl.triggeredComment">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
