#inviteUser {
    .rail-header {
        button {
            margin-right: $global-margin;
        }
    }

    md-input-container {
        width: 100%;
    }

}

.md-select-menu-container {
    z-index: 2000;
}