<div class="languageChooser">
    <button class="button" type="button" data-toggle="btn-langChooser">
        <span id="chosenLanguage">English</span>
    </button>

    <div class="dropdown-pane bottom" id="btn-langChooser" data-dropdown data-close-on-click="true">
        <ul>
            <a href="#" data-ng-click="changeLang('en-us')"><li  data-lang="en-us">English</li></a>
            <a href="#" data-ng-click="changeLang('de-de')"><li  data-lang="de-de">Deutsch</li></a>
            <a href="#" data-ng-click="changeLang('fr-fr')"><li  data-lang="fr-fr">Français</li></a>
            <a href="#" data-ng-click="changeLang('es-es')"><li  data-lang="es-es">Español</li></a>
            <a href="#" data-ng-click="changeLang('nl-nl')"><li  data-lang="nl-nl">Nederlands</li></a>
        </ul>
    </div>
</div>
