<div class="languageChooser">
    <button class="button" type="button" data-toggle="btn-langChooser">
        <span id="chosenLanguage">English</span>
    </button>

    <div class="dropdown-pane bottom" id="btn-langChooser" data-dropdown data-close-on-click="true">
        <ul>
            <li><a href="#" data-lang="en_US" data-ng-click="changeLang('en_US')">English</a></li>
            <li><a href="#" data-lang="de_DE" data-ng-click="changeLang('de_DE')">Deutsch</a></li>
            <li><a href="#" data-lang="fr_FR" data-ng-click="changeLang('fr_FR')">Français</a></li>
            <li><a href="#" data-lang="es_ES" data-ng-click="changeLang('es_ES')">Español</a></li>
            <li><a href="#" data-lang="nl_NL" data-ng-click="changeLang('nl_NL')">Nederlands</a></li>
        </ul>
    </div>
</div>
