<form name="loginForm" data-ng-submit="login()">
    <span>{{ error | translate }}</span>
    <div layout="column" class="login md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>{{ "LOGIN" | translate }}</span></h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">
            <md-input-container>
                <label>{{ "WORD_EMAIL" | translate }}</label>
                <input type="email" data-ng-model="user.email" name="email" ng-pattern="/^.+@.+\..+$/" required/>
                <div ng-messages="loginForm.email.$error"  md-auto-hide="false">
                    <div ng-message="pattern">{{ "FORM_EMAIL_ERROR" | translate }}</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>{{ "WORD_PASSWORD" | translate }}</label>
                <input type="password" data-ng-model="user.password" name="password" required/>
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="correctPassword">{{ "ERROR_WRONG_CREDENTIALS" | translate }}</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button type="submit" class="md-raised md-primary" data-ng-disabled="loginForm.$invalid || isInProgress">{{ "LOGIN" | translate }}</md-button>
                <md-progress-circular md-mode="indeterminate" data-ng-if="isInProgress"></md-progress-circular>
                <div flex="flex"></div>
                <md-button class="md-flat md-primary" data-ng-click="signup()">{{ "SIGNUP" | translate}}</md-button>

            </div>
            <div layout="row" layout-align="center center" class="full-width" data-forgot></div>
        </md-content>
    </div>
</form>
