<div id="aur">
    <div class="row flex-end">
        <div class="medium-2 small-12 columns">
          <!--  <div class="full-width" data-invite-user></div>-->
        </div>
    </div>
    <!-- pending users -->
    <div class="cursor-pointer" data-toggle-id="pending-users" data-ng-if="pendingUsers.length !== 0">
        <div class="row">
            <div class="column small-10">
                <h1>{{ "ADMIN_PENDING_USERS" | translate }} ({{ pendingUsers.length }})</h1>
            </div>
            <div class="column small-2 flex flex-center flex-horizontal-center">
                <i class="fa fa-caret-down fa-2x fa-rotate-90"></i>
            </div>
        </div>
    </div>
    <div id="pending-users" style="display: none;" class="toggled">
        <div data-ng-repeat="pendingUser in pendingUsers">
            <div class="admin-user-request rail-panel admin-panel">
                <div class="rail-panel-inner">
                    <div class="rail-header">
                        {{ pendingUser.firstname }} {{ pendingUser.lastname }}
                    </div>
                    <div class="rail-content">
                        <div class="row">
                            <div class="column small-12 medium-5 no-padding">
                                <div class="userdata">
                                    <h5>{{ "ADMIN_USERS_USERDATA" | translate }}</h5>
                                    <p>
                                        <span>{{ "WORD_EMAIL" | translate }}:</span> {{ pendingUser.email }}
                                    </p>
                                    <p>
                                        <span>{{ "WORD_COMPANY" | translate }}:</span> {{ pendingUser.company.name }}
                                    </p>
                                    <p>
                                        <span>{{ "WORD_JOB" | translate }}:</span> {{ pendingUser.job.title }}
                                    </p>
                                    <p>
                                        <span>Gender:</span> <i class="fa" data-ng-class="{'fa-female': pendingUser.gender === 'female', 'fa-male': pendingUser.gender === 'male' }"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="column small-12 medium-5 no-padding">
                                <div class="motivation">
                                    <h5>{{ "ADMIN_USERS_MOTIVATION" | translate }}</h5>
                                    <p>
                                        {{ pendingUser.signup_comment }}
                                    </p>
                                </div>
                            </div>
                            <div class="column small-12 medium-2">
                                <div class="row">
                                    <div class="column small-6 medium-12">
                                        <button class="accept" data-ng-click="accept(pendingUser.id)"><i class="fa fa-check"></i></button>
                                    </div>
                                    <div class="column small-6 medium-12">
                                        <button class="decline"  data-ng-click="decline(pendingUser.id)"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- invited users -->
    <div class="cursor-pointer" data-toggle-id="invited-users" data-ng-if="invitedUsers.length !== 0">
        <div class="row">
            <div class="column small-10">
                <h1>Invited Users ({{ invitedUsers.length }})</h1>
            </div>
            <div class="column small-2 flex flex-center flex-horizontal-center">
                <i class="fa fa-caret-down fa-2x fa-rotate-90"></i>
            </div>
        </div>
    </div>
    <div id="invited-users" style="display: none;" class="toggled">
        <div data-ng-repeat="invitedUser in invitedUsers">
            <div class="admin-user-request rail-panel admin-panel">
                <div class="rail-panel-inner">
                    <div class="rail-header">
                        {{ invitedUser.firstname }} {{ invitedUser.lastname }}
                    </div>
                    <div class="rail-content">
                        <div class="row">
                            <div class="column small-12 medium-10 no-padding">
                                <div class="userdata">
                                    <h5>{{ "ADMIN_USERS_USERDATA" | translate }}</h5>
                                    <p>
                                        <span>{{ "WORD_EMAIL" | translate }}:</span> {{ invitedUser.email }}
                                    </p>
                                    <p>
                                        <span>{{ "WORD_COMPANY" | translate }}:</span> {{ invitedUser.company.name }}
                                    </p>
                                    <p>
                                        <span>{{ "WORD_JOB" | translate }}:</span> {{ invitedUser.job.title }}
                                    </p>
                                    <p>
                                        <span>Gender:</span> <i class="fa" data-ng-class="{'fa-female': invitedUser.gender === 'female', 'fa-male': invitedUser.gender === 'male' }"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="column small-12 medium-2">
                                <div class="row">
                                    <div class="column small-6 medium-12">
                                        <button class="refresh" data-ng-click="refresh(invitedUser.id)"><i class="fa fa-refresh"></i></button>
                                    </div>
                                    <div class="column small-6 medium-12">
                                        <button class="decline"  data-ng-click="decline(invitedUser.id, 'invited')"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- accepted users -->
    <div class="cursor-pointer" data-toggle-id="accepted-users" data-ng-if="accepted.length !== 0">
        <div class="row">
            <div class="column small-10">
                <h1>{{ "ADMIN_ACCEPTED_USERS" | translate }} ({{ acceptedUsers.length }})</h1>
            </div>
            <div class="column small-2 flex flex-center flex-horizontal-center">
                <i class="fa fa-caret-down fa-2x fa-rotate-90"></i>
            </div>
        </div>
    </div>
    <div id="accepted-users" style="display: none;" class="toggled">
        <div data-ng-repeat="user in acceptedUsers">
            <div class="admin-user-request rail-panel admin-panel">
                <div class="rail-panel-inner">
                    <div class="rail-header">
                        <div class="row">
                            <div class="column no-padding">
                                {{ user.firstname }} {{ user.lastname }}
                            </div>
                            <div class="column no-padding flex flex-end" ng-if="superAdmin" >
                                    <button data-open="editUser" data-ng-click="changeUser(user.id)"><i class="fa fa-gear fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="rail-content">
                        <div class="row">
                            <div class="column no-padding">
                                <div class="userdata">
                                    <h5>{{ "ADMIN_USERS_USERDATA" | translate }}</h5>
                                    <p>
                                        <span>{{ "WORD_EMAIL" | translate }}:</span> {{ user.email }}
                                    </p>
                                    <p>
                                        <span>{{ "WORD_COMPANY" | translate }}:</span> {{ user.company.name }}
                                    </p>
                                    <p>
                                        <span>{{ "WORD_JOB" | translate }}:</span> {{ user.job.title }}
                                    </p>
                                    <p>
                                        <span>{{ "WORD_ROLE" | translate }}:</span> {{ user.role.name }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="reveal rail-panel small-10 medium-10 large-10" id="editUser" data-reveal>
                <div class="rail-panel-inner">
                    <div class="rail-header">
                        <div class="flex">
                            <div class="flex flex-start">
                                {{ "EDIT" | translate }} {{userToEdit.firstname}} {{userToEdit.lastname}} {{me}}
                            </div>
                            <div class="flex flex-end">
                                <button data-close>
                                    <i class="fa fa-times fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="rail-content">
                        <form data-ng-submit="editUser()" name="editUserForm">
                            <div class="row">
                                <div class="columns small-12">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>{{ "WORD_ROLE" | translate }}</label>
                                        <md-select ng-model="userToEdit.role_id" name="roleAll" required>
                                            <md-option ng-repeat="role in roles" value="{{ role.id }}">
                                                {{ role.name }}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="editUserForm.roleAll.$error">
                                            <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                        </div>
                                    </md-input-container>
                                </div>
                                <div class="columns small-12">
                                    <md-button class="button" ng-disabled="editUserForm.$invalid" type="submit">{{ "ADMIN_EDIT_USER" | translate }}</md-button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
</div>