.admin-user-request {
    margin-top: $global-margin;
    background-color: $white;

    h5 {
        margin: 0 0 $global-margin/2;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;

        span {
            text-decoration: underline;
        }
    }

    .motivation, .userdata {
        padding: $global-padding;
        overflow-x: scroll;
    }

    button {
        margin: 0;
        padding: $global-padding;
        width: 100%;
        font-size: 1rem;

        &.accept {
            background-color: $success-color;
        }

        &.decline {
            background-color: $alert-color;
        }

        &.refresh {
            background-color: $warning-color;
        }
    }


}
#aur {
    h1 {
        margin: $global-margin*2 0 0;

        &:nth-of-type(1) {
            margin: 0;
        }
    }
}