<div>
    <div id="company-management">
        <div class="row flex-end">
            <div class="medium-2 small-12 columns">
                <a class="button full-width" data-ng-click="addCompany()" data-open="company-management-edit">{{ "ADMIN_ADD_COMPANY" | translate }}</a>
            </div>
        </div>
        <h1 data-ng-if="companies.length !== 0">{{ "WORD_COMPANIES" | translate }} ({{ companies.length }})</h1>
        <div data-ng-repeat="company in companies">
            <div class="company-management rail-panel admin-panel">
                <div class="rail-panel-inner">
                    <div class="rail-header">
                        <div class="row">
                            <div class="column no-padding">
                                {{ company.name }}
                            </div>
                            <div class="column no-padding flex flex-end">
                                <button class="edit-company" data-open="company-management-edit" data-ng-click="editCompany(company.id)"><i class="fa fa-gear fa-lg"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="rail-content">
                        <p>
                            <span>{{ "WORD_EMAIL" | translate }}:</span> {{ company.email }}
                        </p>
                        <p>
                            <span>{{ "WORD_ADDRESS" | translate }}:</span> {{ company.address }}
                        </p>
                        <p>
                            <span>{{ "WORD_COUNTRY" | translate }}:</span> {{ company.country.name }}
                        </p>
                        <p>
                            <span>{{ "WORD_CITY" | translate }}:</span> {{ company.city }}
                        </p>
                        <p>
                            <span>{{ "WORD_PHONE" | translate }}:</span> {{ company.phonenumber }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="reveal rail-panel small-10 medium-10 large-10" id="company-management-edit" data-reveal>
            <div class="rail-panel-inner">
                <div class="rail-header">
                    <div class="flex">
                        <div class="flex flex-start">
                            <span data-ng-if="isChangeCompany">{{ "ADMIN_EDIT_COMPANY" | translate }}</span>
                            <span data-ng-if="!isChangeCompany">{{ "ADMIN_ADD_COMPANY" | translate }}</span>
                        </div>
                        <div class="flex flex-end">
                            <button data-close>
                                <i class="fa fa-times fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="rail-content">
                    <form data-ng-submit="isChangeCompany ? updateCompany(manageCompany.id) : addNewCompany()" name="companyForm">
                        <!-- add company -->
                        <div class="row">
                            <div class="columns small-12">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>{{ "WORD_NAME" | translate }}</label>
                                    <input type="text" data-ng-model="manageCompany.name" id="name" name="name" required/>
                                    <div ng-messages="companyForm.name.$error">
                                        <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                        <div ng-message="exists" data-translate="ERROR_EXISTS" data-translate-value-val="company"></div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>{{ "WORD_EMAIL" | translate }}</label>
                                    <input type="email" data-ng-model="manageCompany.email" name="email" ng-pattern="/^.+@.+\..+$/" required/>
                                    <div ng-messages="companyForm.email.$error" multiple md-auto-hide="false">
                                        <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                        <div ng-message="pattern">{{ "FORM_EMAIL_ERROR" | translate }}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>{{ "WORD_PHONE" | translate }}</label>
                                    <input type="text" data-ng-model="manageCompany.phonenumber" name="phone" required/>
                                    <div ng-messages="companyForm.phone.$error">
                                        <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>{{ "WORD_ADDRESS" | translate }}</label>
                                    <input type="text" data-ng-model="manageCompany.address" name="address" required/>
                                    <div ng-messages="companyForm.address.$error">
                                        <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>{{ "WORD_CITY" | translate }}</label>
                                    <input type="text" data-ng-model="manageCompany.city" name="city" required />
                                    <div ng-messages="companyForm.city.$error">
                                        <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>{{ "WORD_COUNTRY" | translate }}</label>
                                    <md-select ng-model="manageCompany.country_id" name="country" required>
                                        <md-option ng-repeat="country in countries" value="{{ country.id }}" required>
                                            {{ country.name }}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="companyForm.country.$error">
                                        <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>{{ "WORD_ADMINISTRATOR" | translate }}</label>
                                    <md-select ng-model="manageCompany.administrator" name="admin" required>
                                        <md-option ng-repeat="user in users" value="{{ user.id }}" required>
                                            {{ user.firstname }} {{ user.lastname }}
                                        </md-option>
                                    </md-select>
                                    <div ng-messages="companyForm.admin.$error">
                                        <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    </div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Twitter</label>
                                    <input type="text" data-ng-model="manageCompany.Twitter" />
                                    <div class="hint">Please enter a valid url</div>
                                </md-input-container>
                                <md-input-container>
                                    <label>LinkedIn</label>
                                    <input type="text" data-ng-model="manageCompany.LinkedIn" />
                                    <div class="hint">Please enter a valid url</div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Facebook</label>
                                    <input type="text" data-ng-model="manageCompany.Facebook" />
                                    <div class="hint">Please enter a valid url</div>
                                </md-input-container>
                                <md-input-container>
                                    <label>Xing</label>
                                    <input type="text" data-ng-model="manageCompany.Xing" />
                                    <div class="hint">Please enter a valid url</div>
                                </md-input-container>
                            </div>
                            <div class="columns small-12">
                                <md-button ng-disabled="companyForm.$invalid"  class="button" type="submit">
                                    <span data-ng-if="isChangeCompany">{{ "WORD_CHANGE" | translate }}</span>
                                    <span data-ng-if="!isChangeCompany">{{ "WORD_ADD" | translate }}</span>
                                </md-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>