// colors for borders
$border-color: #A7813B;


/************
 ** HEADER **
 ************/
$header-height: 75px;
$header-button-margin: 5px;

/*************
 ** USERBAR **
 *************/
$userbar-height: 60px;
$userbar-padding: 5px;
$userbar-image: 50px;

/***************
 ** STANDARDS **
 ***************/
$border-radius-standard: 0 0 0 0;
$space-between-links: 20px;

/*************
 ** LANDING **
 *************/
$landing-margin: 20px;
