/************
 ** COLORS **
 ************/
// colors for backgrounds
$color1: #FEC72E; 
$color2: #FF9200;

// colors for borders
$border-color: #A7813B;


/************
 ** HEADER **
 ************/
$header-height: 75px;
$header-button-margin: 5px;

/***************
 ** STANDARDS **
 ***************/
$border-radius-standard: 0 0 15px 0;