@import '_foundation-flex';
@import '_variables';
@import '_animations';

* {
    box-sizing: border-box;
}

body, html {
    height: auto !important;
    min-width: 320px;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font-size: 14px;
    // position: static !important;
}

/*****************************
 ** Google Translate Widget **
 *****************************/
#google_translate_element {
    min-width: 150px;
}

.goog-te-banner-frame {
    // display: none;
    overflow: scroll;
}

.goog-te-combo {
    width: auto;
    float: right;
    background: initial;
    border: 0;
    padding: $global-padding/2;
    text-align-last: center;

    &:hover {
        background-color: $secondary-color;
    }
}
/*********************************
 ** Google Translate Widget END **
 *********************************/

 .table {
    background: $white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    .table-header {
        padding: $global-padding*2 $global-padding;
        background: $light-gray;
    }

    .table-body {
        padding: $global-padding;
        border-top: 1px solid $medium-gray;
    }
 }

.inline {
    display: inline-block;
}

.relative {
    position: relative;
    height: inherit;
}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.center {
    margin: 0 auto !important;
    display: inline-block !important;
}

div.red {
    background: $alert-color !important;
    color: $white !important;
    font-weight: 800;
}

a.red {
    color: $alert-color;
}

a.button {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

a.no-highlight {
    text-decoration: none;

    &:hover, &:hover * {
        text-decoration: none;
        color: initial;
    }
}

.red-border {
    border-color: $alert-color !important;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-start {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
}

.flex-center {
    align-items: center;
}

.flex-horizontal-center {
    justify-content: center;
}

.reveal {
    padding: 0;
}

// set the button invisible
.btn-neutralize {
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    span {
        white-space: nowrap;
    }

    &:hover {
        background: none;
    }
}

.ul-normalize {
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin-left: $global-margin;
        padding-left: $global-padding/2;
        border-left: 1px solid $primary-color;

        &:nth-of-type(1) {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
        }
    }
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.placeholder {
    background: rgba($light-gray, .7);
    width: 80%;
    height: .8rem;
    animation: placeholder-blink 2s infinite;
}

.dropdown-pane {
    padding: 0;

    button, li {
        padding: 1rem 1.5rem;
        width: 100%;
        text-align: center;

        &:hover {
            background-color: $light-gray;
        }
    }
}

.rail-panel {
    margin-bottom: $global-margin;

    .rail-panel-inner {
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        border-radius: $border-radius;
        background-color: $white;
        overflow: hidden;
        // border: 1px solid $secondary-color;
    }

    .row {
        margin: 0;
    }

    .rail-meta {
        padding: $global-padding/2;
        background: $light-gray;
        color: $dark-gray;
        font-size: .8rem;
    }

    .rail-header {
        height: auto;
        width: 100%;
        padding: .5rem 0;
        padding-left: 1rem;
        background: $secondary-color;
        color: $body-font-color;
        font-family: $header-font-family;

        .placeholder {
            height: 2rem;
        }

        h3, h4, h5 {
            margin: 0;
            padding: 0;
        }

        .flex-end button {
            padding-right: $global-padding;
        }
    }

    .rail-content {
        padding: $global-padding;
        overflow: hidden;

        md-input-container {
            display: block;
            width: 100%;
        }

        .row > .column {
            padding-top: 5px;
            padding-bottom: 5px;
        }

    }

    .a-background {
        padding: 0;

        > div {
            padding: $global-padding/2;
        }

        > div:nth-of-type(2n) {
            background: lighten($light-gray, 5%);;
        }
    }
}

.admin-panel {
    h5 {
        margin: 0 0 $global-margin/2;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;

        span {
            text-decoration: underline;
        }
    }
}

a {
    color: $body-font-color;
}

.profile-picture {
    padding: 20px;
    img {
        max-height: 200px;
        display: block;
        margin: auto;
    }
}

.social-media {
    padding: 5px;
    height:35px;
    width:35px;
}

md-checkbox.check .md-icon {
    border: 1px solid $primary-color;
}

md-checkbox.md-checked.check .md-icon {
    background-color: $primary-color;
    color: black;
}

.forgot{
    color: grey;
}

.line-breaks{
    white-space:pre-wrap;
}

.text-right {
    text-align: right;

    @media only screen and (max-width: 40em) {
        text-align: initial;
    }
}

.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 10px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}
