@import '_foundation-flex';
@import '_variables';

* {
    box-sizing: border-box;
}

body, html {
    height: auto;
    min-width: 320px;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.inline {
    display: inline-block;
}

.relative {
    position: relative;
    height: inherit;
}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.center {
    margin: 0 auto !important;
    display: inline-block !important;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.flex-start {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
}

.flex-center {
    align-items: center;
}

.flex-horizontal-center {
    justify-content: center;
}

.reveal {
    padding: 0;
}

// set the button invisible
.btn-neutralize {
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    span {
        white-space: nowrap;
    }

    &:hover {
        background: none;
    }
}

.ul-normalize {
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin-left: $global-margin;
        padding-left: $global-padding/2;
        border-left: 1px solid $primary-color;

        &:nth-of-type(1) {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
        }
    }
}

.no-padding {
    padding: 0;
}

.rail-panel {
    margin-bottom: 10px;

    .row {
        margin: 0;
    }

    .rail-meta {
        padding: $global-padding/2;
        background: $light-gray;
        color: $dark-gray;
        font-size: .8rem;
    }

    .rail-header {
        height: auto;
        padding: 5px;
        background: $secondary-color;
        color: $body-font-color;
        // margin-bottom: 10px;
        border-radius: $border-radius-standard;

        h3, h4, h5 {
            margin: 0;
            padding: 0;
        }

        .flex-end button {
            padding-right: $global-padding;
        }
    }

    .rail-panel-inner {
        border: 1px solid $secondary-color;
        background: white;
    }

    .rail-content {
        padding: $global-padding;
        overflow: hidden;

        md-input-container {
            display: block;
            width: 100%;
        }

        .row > .column {
            padding-top: 5px;
            padding-bottom: 5px;
        }

    }

    .a-background {
        padding: 0;

        > div {
            padding: $global-padding/2;
        }

        > div:nth-of-type(2n) {
            background: lighten($light-gray, 5%);;
        }
    }
}

.admin-panel {
    h5 {
        margin: 0 0 $global-margin/2;
        padding: 0;
    }

    p {
        margin: 0;
        padding: 0;

        span {
            text-decoration: underline;
        }
    }
}

a {
    color: $body-font-color;

}
.collegue{
    padding: 20px;
}

.profile-picure{
    padding: 20px;
}

.social-media
{
    padding: 5px;
    height:35px;
    width:35px;
}

md-checkbox.check .md-icon{
    border: 1px solid $primary-color;

}
md-checkbox.md-checked.check .md-icon {
 background-color: $primary-color;
 color: black;
}

.forgot{
    color: grey;
}



.input-dropdown {
  display: inline-block;
  height:100%;
  width:100%;

}

.input-dropdown input {
  height: 30px;
  font-size: 20px;
  float:right;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 10%;
  width: 0px;
  position: relative;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.input-dropdown input:focus {
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
}

.input-dropdown ul {
  border:none;
  list-style: none;
  margin: 30px 0 0 0;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;

}

.input-dropdown ul > li {
  cursor: pointer;
  padding: 10px;
}

.input-dropdown ul > li.active {
  background: #608AEB;
}

.input-dropdown input[type="submit"] {
  height: 30px;
  width: 10%;
  display: inline-block;
  color:red;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

.input-dropdown input[type="submit"]:hover {
  opacity: 0.8;
}

.no-pad-right {
padding-right: 0;
}
.no-pad-left{
padding-left: 0;
}