@import '_foundation-flex';
@import '_variables';

* {
    box-sizing: border-box;
}

body, html {
    height: auto;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.inline {
    display: inline-block;
}

.relative {
    position: relative;
    height: inherit;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
}

.flex-center {
    align-items: center;
}

// set the button invisible 
.btn-neutralize {
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    &:hover {
        background: none;
    }
}

.ul-normalize {
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid $primary-color;

        &:nth-of-type(1) {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
        }
    }
}

.rail-panel {
    background: white;
    margin-bottom: 10px;

    .rail-header {
        height: auto;
        padding: 5px;
        background: $primary-color;
        color: white;
        // margin-bottom: 10px;
        border-radius: $border-radius-standard;

        h3, h4, h5 {
            margin: 0;
            padding: 0;
        }
    }

    .rail-panel-inner {
        border: 1px solid $primary-color;
    }

    .rail-content {
        padding: 0 5px;
        overflow: hidden;

        .row > .column {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        a {
            color: black;
        }    
    }

    .a-background {
        > div:nth-of-type(2n) {
            background: lighten($light-gray, 5%);;
        }
    }

}