@import '_foundation-flex';
@import '_variables';

* {
    box-sizing: border-box;
}

body, html {
    height: auto;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.inline {
    display: inline-block;
}

.relative {
    position: relative;
    height: inherit;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
}

.flex-center {
    align-items: center;
}

// set the button invisible
.btn-neutralize {
    border: none;
    background: none;
    padding: 0;
    margin: 0;

    &:hover {
        background: none;
    }
}

.ul-normalize {
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid $primary-color;

        &:nth-of-type(1) {
            margin-left: 0;
            padding-left: 0;
            border-left: 0;
        }
    }
}

.panel-header {
    background: $primary-color;
    padding: $global-padding/2;
    color: $body-font-color;
    margin-bottom: $global-margin/2;
    border-radius: $border-radius-standard;
}

.rail-panel {
    margin-bottom: 10px;

    .row {
        margin: 0;
    }

    .rail-meta {
        padding: 2px 5px;
        background: $light-gray;
        color: $dark-gray;
        font-size: .8rem;
    }

    .rail-header {
        height: auto;
        padding: 5px;
        background: $primary-color;
        color: $body-font-color;
        // margin-bottom: 10px;
        border-radius: $border-radius-standard;

        h3, h4, h5 {
            margin: 0;
            padding: 0;
        }
    }

    .rail-panel-inner {
        border: 1px solid $primary-color;
        background: white;
    }

    .rail-content {
        padding: 0 5px;
        overflow: hidden;

        .row > .column {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        a {
            color: $body-font-color;
        }
    }

    .a-background {
        padding: 0;

        > div:nth-of-type(2n) {
            background: lighten($light-gray, 5%);;
        }
    }
}

a{
    color: $body-font-color;

}
.collegue{
    padding: 20px;
}

.profile-picure{
    padding: 20px;
}

.social-media
{
    padding: 5px;
    height:35px;
    width:35px;
}

md-checkbox.check .md-icon{
    border: 1px solid $primary-color;

}
md-checkbox.md-checked.check .md-icon {
 background-color: $primary-color;
 color: black;
}
