.landing {
    padding-top: $global-padding;
    overflow: hidden;

    h1 {
        margin-top: 0;
    }

    > div {
        margin-bottom: $global-margin;
        z-index: 1;
    }

}
#landing {
    position: relative;
    overflow: hidden;
    background: $secondary-color;
    margin-top: -$global-margin;

    &:before {
        content: '';
        position: absolute;
        width: 200%;
        height: 58%;
        top: -50%;
        left: -50%;
        z-index: 0;
        background: $primary-color;
        transform: rotate(15deg);
    }

    .quote {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 600;
        color: $dark-gray;
        text-align: center;

        &:before {
            content: '"';
        }

        &:after {
            content: '"';
        }
    }

    .highlight {
        padding: $global-padding;
        color: $white;
        background: rgba($black, .5);

        h5 {
            font-weight: 800;
        }

        .quote {
            color: $white;
        }
    }

    section {
        background-color: $light-gray;
        padding: $global-padding * 10;
        position: relative;
        z-index: 2;
        box-shadow: inset  0  40px 40px -40px $dark-gray,
                    inset  0 -40px 40px -40px $dark-gray;

        img {
            width: 50%;
        }

        &.steam {
            background: url('http://www.jpeer.at/railroad/testimage/landing_1.jpg') no-repeat center center;
            background-size: cover;
        }

        &.discuss {
            background: url('http://www.jpeer.at/railroad/testimage/landing_2.jpg') no-repeat center center;
            background-size: cover;
        }

        &.join {
            background: url('http://www.jpeer.at/railroad/testimage/landing_3.jpg') no-repeat center center;
            background-size: cover;
        }

        &.shadow {
            box-shadow: inset 0 0 75px 0 #000;
        }

        &:nth-of-type(1) {
            margin-top: $global-margin;
        }

        &:nth-of-type(2n) {
            // background-color: initial;
        }
    }
}

@media only screen and (max-width: 40em) {
    #landing {
        section {
            padding: $global-padding;
        }
    }
}

@media only screen and (min-width: 40em) and (max-width: 60em) {
    #landing {
        section {
            padding: $global-padding * 5;
        }
    }
}

.img-round {
    width: 150px;
    height: 150px;
    margin: $global-margin auto;
    background: $light-gray;
    border-radius: 50%;
    padding: $global-padding*2;

    img {
        margin-top: -2px;
    }
}