.userbar {
    // width: 200px;
    height: $userbar-height + 5px; // dropdown go 5px down
    display: inline-block;
    padding: $userbar-padding;
    background-color: $secondary-color;
    color: white;
    text-align: left;
    border-radius: $border-radius-standard;
    border: 1px solid $border-color;
    border-top: 0;

    
    p {
        margin: 0 5px 0 0;
        padding: 0;
        font-size: .7rem;

        &:nth-of-type(1) {
            margin-top: 5px;
        }
    }

    .dropdown-pane {
        color: black;
    }
}

.btn-userbar {
    text-align: inherit;
    display: flex;
    flex-direction: row;

    .img {
        padding-right: $userbar-padding;
        width: $userbar-image;
        height: $userbar-image;

        img {
            width: 100%;
            overflow: hidden;
            border-radius: $userbar-image / 2;
            border: 1px solid $border-color;
        }
    }
}