

<div class="input-dropdown clearfix">
     <div>
        <input id="search" name="search" type="text" placeholder="{{ 'WORD_SEARCH' | translate }}" data-ng-model="query">
        <div id="search_submit" class="search-button" value="Rechercher" type="submit">
                <i class="fa fa-search fa-2x"></i>
        </div>
    </div>
    <ul data-ng-show="query" id="results">
        <li data-ng-repeat="profile in profiles | filter:query">
            <a href="#/user/{{profile.id}}" ng-if="profile.firstname">{{profile.firstname}} {{profile.lastname}}</a>
            <a href="#/company/{{profile.id}}" ng-if="profile.name">{{profile.name}}</a>
        </li>
    </ul>
</div>
