<div>
<!--Search: <input  auto-complete ui-items="users" ng-model="query">

<div class="dropdown-list" ng-show="query">
      <div ng-repeat="user in users | filter:query">
        <a data-ng-href="#/user/{{ user.id }}" >{{user.firstname}} {{user.lastname}}</a>
    </div>
</div>-->
<!--<ui-select ng-model="user.selected">
        <ui-select-match placeholder="Select or search a superhero in the list...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="user in users | filter: $select.search">
            <a data-ng-href="#/user/{{ user.id }}" >{{user.firstname}} {{user.lastname}}</a>
        </ui-select-choices>
    </ui-select>-->

</div>
