<div class="rail-panel">
    <div class="rail-panel-inner">
        <div class="rail-meta row">
            <div class="small-12 medium-expand columns">
                <span># {{ $index + 1 }}</span>
            </div>
            <div class="small-12 medium-expand columns text-center">
                <i class="fa fa-user"></i> <a data-ng-href="/user/{{ comment.user_id }}">{{ comment.user.firstname }} {{ comment.user.lastname }}</a>
            </div>
            <div class="small-12 medium-expand columns text-right">
                <i class="fa fa-calendar"></i> {{ getDate(comment.created_at) | date }}
            </div>
        </div>
        <div class="rail-content line-breaks" >
            <div class="row">
                {{ comment.content }}
            </div>
            <div class="row">
                <div ng-repeat="file in comment.file" class=" small-12 column">
                    <i class="fa fa-picture-o" ng-if="file.isimage"></i>
                    <i class="fa fa-file-text" ng-if="!file.isimage" ></i>  {{ file.filename }}
                    <a href="{{ file.filepath }}" download>
                        <i class="fa fa-download" ></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
