<div class="rail-panel">
    <div class="rail-panel-inner">
        <div class="rail-meta row">
            <div class="small-12 medium-expand columns">
                <span># {{ $index + 1 }}</span>
            </div>
            <div class="small-12 medium-expand columns text-center">
                <i class="fa fa-user"></i> <a data-ng-href="/user/{{ comment.user_id }}">{{ comment.user.firstname }} {{ comment.user.lastname }}</a>
            </div>
            <div class="small-12 medium-expand columns text-right">
                <i class="fa fa-calendar"></i> {{ getDate(comment.created_at) | date }}
            </div>
        </div>
        <div class="rail-content line-breaks" >
            {{ comment.content }}
            <div class="row">
                <div ng-repeat="file in comment.file">
                    <div class=" small-6 medium-3 large-2 column">
                        <img data-ng-src="http://localhost/web-tool-railroad-api/{{ file.filepath }}" data-ng-alt="{{ file.filename }}" ng-if="file.isimage">
                        <div ng-if="!file.isimage">
                            <i class="fa fa-file-text" ></i>  {{ file.filename }}
                        </div>
                        <a href="http://localhost/web-tool-railroad-api/{{ file.filepath }}" download>
                            <i class="fa fa-download flex flex-end" ></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
