<div>
    <a class="button full-width add-topic-btn" data-open="addTopic">{{ "FORUM_ADD_TOPIC" | translate }}</a>

    <div class="reveal rail-panel small-10 medium-10 large-10" id="addTopic" data-reveal>
        <div class="rail-panel-inner">
            <div class="rail-header">
                <div class="flex">
                    <div class="flex flex-start">
                        {{ "FORUM_ADD_TOPIC" | translate }}
                    </div>
                    <div class="flex flex-end">
                        <button  data-close aria-label="Close modal" ng-click="addTopicCtrl.close()" type="button">
                            <i class="fa fa-times fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="rail-content">
                <form data-ng-submit="addTopicCtrl.addTopic()" name="addTopicForm">
                    <div class="row">
                        <div class="large-12 medium-12 small-12 columns">
                            <md-input-container>
                                <label>{{ "WORD_TITLE" | translate }}</label>
                                <input type="title" data-ng-model="addTopicCtrl.newTopic.title" id="title" name="title" required/>
                                <div ng-messages="addTopicForm.title.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    <div ng-message="exists" data-translate="ERROR_EXISTS" data-translate-value-val="topic"></div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <md-input-container class="md-block">
                                <label>{{ "WORD_DESCRIPTION" | translate }}</label>
                                <textarea ng-model="addTopicCtrl.newTopic.description" name="description" md-maxlength="150" rows="5" md-select-on-focus required></textarea>
                                <div ng-messages="addTopicForm.description.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    <div ng-message="md-maxlength" data-translate="FORM_MAX_LENGTH" data-translate-value-max="{{ 150 }}"></div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-6 columns">
                            <div flex="100" ng-repeat="job in addTopicCtrl.jobs">
                                <md-checkbox class="check" ng-model="job.selected" ng-click="addTopicCtrl.toggleJob(job, selected)">
                                    {{ job.title }}
                                </md-checkbox>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <div flex="100" ng-repeat="company in addTopicCtrl.companies">
                                <md-checkbox class="check" ng-model="company.selected" ng-click="addTopicCtrl.toggleCompany(company, selected)" >
                                    {{ company.name }}
                                </md-checkbox>
                            </div>
                        </div>
                        <div class="large-6 columns">
                            <md-checkbox Class="check" ng-model="addTopicCtrl.checkAll.selected" ng-click="addTopicCtrl.checkAll()">
                                {{ "WORD_EVERYONE" | translate }}
                            </md-checkbox>
                        </div>
                    </div>
                    <div class="flex flex-center">
                        <md-button class="button" type="submit" ng-disabled="addTopicForm.$invalid" data-ng-disabled="addTopicCtrl.triggeredTopic">
                            {{ "FORUM_ADD_TOPIC" | translate }}
                        </md-button>
                        <div class="inline flex-start" data-ng-if="addTopicCtrl.triggeredTopic">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
