<div>
    <a class="button" data-open="company-edit"><i class="fa fa-gear"></i> Edit company</a>

    <div class="reveal rail-panel small-10 medium-10 large-10" id="company-edit" data-reveal>
        <div class="rail-panel-inner">
            <div class="rail-header">
                <div class="flex">
                    <div class="flex flex-start">
                        <span>{{ "ADMIN_EDIT_COMPANY" | translate }}</span>
                    </div>
                    <div class="flex flex-end">
                        <button data-close>
                            <i class="fa fa-times fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="rail-content">
                <form data-ng-submit="updateCompany(company.id)" name="companyForm">
                    <!-- edit company -->
                    <div class="row">
                        <div class="columns small-12">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>{{ "WORD_NAME" | translate }}</label>
                                <input type="text" data-ng-model="company.name" id="name" name="name" required/>
                                <div ng-messages="companyForm.name.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    <div ng-message="exists" data-translate="ERROR_EXISTS" data-translate-value-val="company"></div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>{{ "WORD_EMAIL" | translate }}</label>
                                <input type="email" data-ng-model="company.email" name="email" ng-pattern="/^.+@.+\..+$/" required/>
                                <div ng-messages="companyForm.email.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                    <div ng-message="pattern">{{ "FORM_EMAIL_ERROR" | translate }}</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>{{ "WORD_PHONE" | translate }}</label>
                                <input type="text" data-ng-model="company.phonenumber" name="phone" required/>
                                <div ng-messages="companyForm.phone.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>{{ "WORD_ADDRESS" | translate }}</label>
                                <input type="text" data-ng-model="company.address" name="address" required/>
                                <div ng-messages="companyForm.address.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>{{ "WORD_CITY" | translate }}</label>
                                <input type="text" data-ng-model="company.city" name="city" required />
                                <div ng-messages="companyForm.city.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>{{ "WORD_COUNTRY" | translate }}</label>
                                <md-select ng-model="company.country_id" name="country" required>
                                    <md-option ng-repeat="country in countries" value="{{ country.id }}" required>
                                        {{ country.name }}
                                    </md-option>
                                </md-select>
                                <div ng-messages="companyForm.country.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>{{ "WORD_ADMINISTRATOR" | translate }}</label>
                                <md-select ng-model="company.administrator" name="admin" required>
                                    <md-option ng-repeat="user in users" value="{{ user.id }}" required>
                                        {{ user.firstname }} {{ user.lastname }}
                                    </md-option>
                                </md-select>
                                <div ng-messages="companyForm.admin.$error">
                                    <div ng-message="required">{{ "FORM_REQUIRED" | translate }}</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>Twitter</label>
                                <input type="text" data-ng-model="company.Twitter" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                            <md-input-container>
                                <label>Facebook</label>
                                <input type="text" data-ng-model="company.Facebook" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                            <md-input-container>
                                <label>LinkedIn</label>
                                <input type="text" data-ng-model="company.LinkedIn" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                            <md-input-container>
                                <label>Pinterest</label>
                                <input type="text" data-ng-model="company.pinterest" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                            <md-input-container>
                                <label>YouTube</label>
                                <input type="text" data-ng-model="company.youtube" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                            <md-input-container>
                                <label>Flickr</label>
                                <input type="text" data-ng-model="company.flickr" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                            <md-input-container>
                                <label>Instagram</label>
                                <input type="text" data-ng-model="company.instagram" />
                                <div class="hint">Please enter a valid url</div>
                            </md-input-container>
                        </div>
                        <div class="columns small-12">
                            <md-button ng-disabled="companyForm.$invalid"  class="button" type="submit">
                                <span>{{ "WORD_CHANGE" | translate }}</span>
                            </md-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>