$person-info: 1rem;

.person-info {
    a {
        &:hover {
            color: $black;
            text-decoration: none;

            .img {
                opacity: .0;
            }

            .person-info-content {
                transform: translate3d(0,-$person-info,0);
            }

            .person-info-panel {
                box-shadow: 0 1px 15px rgba(0,0,0,0.3);
            }
        }
    }
}

.person-info-panel {
    background: $white;
    border: 1px solid $light-gray;
    margin: 1.5rem 0 $person-info;
    padding: $person-info;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    transition: box-shadow .5s;

    .img {
        width: 50px;
        height: 50px;
        margin: -$person-info*2 .5rem 0;
        border-radius: 50%;
        border: 1px solid $light-gray;
        overflow: hidden;
        background: $white;

        transition: opacity .5s;
    }

    .person-info-content {
        transition: transform .5s;
    }

    img {
        width: 100%;
        height: 100%;
    }

    p {
        margin: 0;
        padding: 0;
    }

    h5 {
        margin: 5px 0;
        padding: 0;
    }
}
