$width: 50px;
$margin-picture: 2rem;

.thumb {
    width: 50px;
    height: 50px;
    float: none;
    position: relative;
    padding: 5px 5px 5px 5px;
}

.datefield {
    display: inline;
    padding: 0.3em;
    background: #FFF;
    color: #666;

    * {
        display: inline-block;
    }

    input {
        width: 4em;
        padding: 0 0.4em;
        border: none;
        font-size: 100%;
        background: none;
        color: #000;

        &#year {
            width: 6em;
        }

        &:focus {
            outline: none;
        }
    }
}



.date{
    color: $dark-gray;
    font-size: .8rem;
    text-align: right;
}

.rail-content{
    a{
        &:hover {
            color: black;
                }
}
}


$person-info: 1rem;

.rail-activity {
    a {
        &:hover {
            color: $black;
            text-decoration: none;

            .rail-activity-panel {
                box-shadow: 0 1px 15px rgba(0,0,0,0.3);
                font-size: 1.1rem;
            }
        }
    }
}

.rail-activity-panel {
    background: $white;
    border: 1px solid $light-gray;
    margin: 1.5rem 0 $person-info;
    padding: $person-info;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    transition: box-shadow .5s;
}
