.thumb {
    width: 50px;
    height: 50px;
    float: none;
    position: relative;
    padding: 5px 5px 5px 5px;
}

.datefield {
    display: inline;
    padding: 0.3em;
    background: #FFF;
    color: #666;

    * {
        display: inline-block;
    }

    input {
        width: 4em;
        padding: 0 0.4em;
        border: none;
        font-size: 100%;
        background: none;
        color: #000;

        &#year {
            width: 6em;
        }

        &:focus {
            outline: none;
        }
    }
}

.rail-activity {
    a {
        color: black;

        &:hover {
            div {
                background-color: lighten($light-gray, 5%);
                transition: background .5s;
            }
        }
    }

}
