<div class="row align-middle">
    <div class="profile-picure column small-10 medium-4 large-3">
        <img data-ng-src="{{ user.picture_location }}" data-ng-alt="{{ user.picture_alt }}">
    </div>
    <div class="column small-2 medium-1 large-1 align-left">
        <div class="social-media" ng-show="user.Twitter">
            <a href="http://{{user.Twitter}}">
                <img src="https://pbs.twimg.com/profile_images/666407537084796928/YBGgi9BO_normal.png" alt="Twitter">
            </a>
        </div>

        <div class="social-media" ng-show="user.Facebook">
            <a href="http://{{user.Facebook}}">
                <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-128.png" alt="Facebook">
            </a>
        </div>

        <div class="social-media" ng-show="user.LinkedIn">
            <a href="http://{{user.LinkedIn}}">
                <img src="https://static.licdn.com/sc/h/3m4lyvbs6efg8pyhv7kupo6dh" alt="LinkedIn">
            </a>
        </div>

        <div class="social-media" ng-show="user.Xing">
            <a href="http://{{user.Xing}}">
                <img src="http://findicons.com/files/icons/2287/32_pixel_social_media_icons/32/xing.png" alt="Xing">
            </a>
        </div>
    </div>

</div>

<div class="row">
    <div class="column small-12 medium-6">
        <div class="rail-panel">
            <div class="rail-panel-inner">
                <div class="rail-header">
                    <div class="row">
                        <div class="column no-padding">
                            {{ "WORD_ABOUT" | translate }}
                        </div>
                        <div class="column no-padding flex flex-end" ng-show="currentUser.id==user.id" >
                            <div data-edit-profile></div>
                        </div>
                    </div>
                </div>
                <div class="rail-content">
                    <div class="row">
                        <div class="column small-12">
                            <i class="fa fa-male" ng-show="user.gender=='male'"></i>
                            <i class="fa fa-female" ng-show="user.gender=='female'"></i>
                            {{ user.firstname }} {{user.lastname}}
                        </div>
                        <div class="column small-12">
                            <i class="fa fa-globe"></i> {{user.city}}, {{user.country.name}}
                        </div>
                        <div class="column small-12">
                            <i class="fa fa-envelope"></i> {{user.email}}
                        </div>
                        <div class="column small-12">
                            <i class="fa fa-birthday-cake"></i> {{ user.birthday | date }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column small-12 medium-6">
        <div class="rail-panel">
            <div class="rail-panel-inner">
                <div class="rail-header">
                    {{ "WORK_INFO" | translate }}
                </div>
                <div class="rail-content">
                    <div class="row">
                        <div class="column small-12">
                            <a data-ng-href="#/company/{{ user.company.id }}">
                                <i class="fa fa-building"></i> {{ user.company.name}}
                            </a>
                        </div>
                        <div class="column small-12">
                            <i class="fa fa-globe"></i> {{user.company.city}}, {{user.company.country.name}}
                        </div>
                        <div class=" column small-12">
                            <i class="fa fa-phone"></i> {{user.company.phonenumber}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column small-12 medium-6 large-6" ng-show="user.topic.length">
        <div class="rail-panel">
            <div class="rail-panel-inner">
                <div class="rail-header">
                    {{ "FORUM_LATEST_TOPICS" | translate }}
                </div>
                <div class="row">
                    <div class="columns small-12" data-ng-repeat="topic in user.topic">
                       <div data-activity-topic></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="column small-12 medium-6 large-6" ng-show="user.comment.length">
        <div class="rail-panel">
            <div class="rail-panel-inner">
                <div class="rail-header">
                    {{ "FORUM_LATEST_COMMENTS" | translate }}
                </div>
                <div class="row">
                    <div class="columns small-12" data-ng-repeat="comment in user.comment">
                       <div data-activity-comment></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div>
    <div class="rail-panel">
        <div class="rail-panel-inner">
            <div class="rail-header">
                {{ "WORD_COLLEGUES" | translate }}
            </div>
            <div class="row">
                <div class="columns small-12 medium-4 large-3" data-ng-repeat="user in user.company.user">
                    <div data-person-info></div>
                </div>
            </div>
        </div>
    </div>
</div>
