.navbar-header {
    display: flex;
    align-items: center; //vertical align on flexbox
    background: $secondary-color;
    border-radius: $border-radius-standard;
    padding: 10px $space-between-links;
    margin-bottom: 10px;

    li.active {
        a {
            background: lighten($secondary-color, 20%);
        }
    }

    a {
        color: white;
        padding: 5px $space-between-links/2;
        border-radius: 5px;
        transition: background .2s;

        &:hover {
            text-decoration: none;
            background: lighten($secondary-color, 20%);
            transition: background .2s;
        }
    }
}