.navbar-header {
    display: flex;
    align-items: center; //vertical align on flexbox
    background: $secondary-color;
    border-radius: $border-radius-standard;
    padding: 10px $space-between-links;
    margin-bottom: $header-margin-bottom;

    li.active {
        a {
            background: lighten($secondary-color, 20%);
        }
    }

    a {
        color: $body-font-color;
        padding: 5px $space-between-links/2;
        border-radius: 5px;
        transition: background .2s;

        &:hover {
            text-decoration: none;
            background: lighten($secondary-color, 20%);
            transition: background .2s;
        }
    }
}

@media only screen and (max-width: 40em) {
    #menu-hamburger {
        @include hamburger();
    }

    #navbar {
        width: 100%;

        ul {
            width: 100%;

            li {
                width: 100%;
                margin: 0 0 5px;
                padding: 0;
                border: 0;
                text-align: center;

                a {
                    display: block;
                    border-radius: 0;
                }
            }
        }
    }
}
