.navbar-header {
    background: $primary-color;
    width: 100%;

    ul {
        padding: 0;
        margin: 0 0 0 $global-margin;
    }

    li {
        padding: $global-padding;
        display: inline-block;
        float: left;
    }

    a {
        // display: block;
        // background: $light-gray;
        li {
            transition: background .5s;
        }

        &:hover li {
            background: $secondary-color;
            color: $black;
            transition: background .5s;
        }

        &.active li {
            background: $secondary-color;
        }
    }
}

.shadow-navbar {
    @media only screen and (min-width: 40.063em) {
        box-shadow: -20px 0px 0px 0px #f5f5f5,
                    20px 0px 0px 0px #f5f5f5,
                    0px 4px 11px -3px rgba($dark-gray,0.75);
    }
}

#navbar {
    transition: box-shadow .5s;
}

@media only screen and (max-width: 40em) {
    #menu-hamburger {
        @include hamburger();
        margin: $global-margin;
    }

    #hamburger {
        width: 100%;

        ul {
            // width: 100%;
            margin: 0;

            li {
                width: 100%;
                // border: 0;
                // float: left;
                text-align: center;

                a {
                    display: block;
                    // padding: $global-padding;
                    // width: 100%;
                    // border-radius: 0;
                }
            }
        }
    }
}
