<div class="row hide-for-small-only">
    <div class="home-slider" data-slider></div>
</div>
<div class="row">
    <div class="column" data-welcome-new-user></div>
</div>
<div class="row">
    <div class="column small-12"  data-ng-if="latestComments.length !== 0">
        <h3>Latest missed 3 comments</h3>
    </div>
    <div class="columns small-12 medium-4" ng-repeat="comment in latestComments" data-ng-if="latestComments.length !== 0">
        <div data-news data-news-header="#{{ $index+1 }}" data-news-content="{{ comment.content }}" data-news-href="#/topic/{{ comment.topic.id }}"></div>
    </div>
    <div class="column small-12" data-ng-if="latestTopics.length !== 0">
        <h3>Latest missed topics ({{ latestTopics.length }})</h3>
    </div>
    <div class="columns small-12 medium-4" ng-repeat="topic in latestTopics" data-ng-if="latestTopics.length !== 0">
        <div data-news data-news-header="{{ topic.title }}" data-news-content="{{ topic.description }}" data-news-href="#/topic/{{ topic.id }}"></div>
    </div>
</div>