<div>
    <div id="header">
        <div class="container flex">
            <div class="flex-start">
                <div id="logo">
                    <a href="/">
                        <img src="https://www.jpeer.at/railroad/testimage/logo.jpg" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="flex-end" ng-if="isLoggedIn()">
                <div data-userbar></div>
                <div class="clearfix" data-language-chooser></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container" ng-if="isLoggedIn()">
        <div data-navbar></div>
    </div>
</div>
