<div>
    <div id="header">
        <div class="row">
            <div class="flex-start">
                <div id="logo">
                    <a href="/">
                        <img src="https://www.jpeer.at/railroad/testimage/logo.jpg" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="flex-end">
                <div data-userbar data-ng-if="isLoggedIn()"></div>
                <div class="clearfix" data-language-chooser></div>
            </div>
        </div>
    </div>
    <div data-ng-if="isLoggedIn()">
        <div class="row">
            <div data-navbar></div>
        </div>
    </div>
</div>
