#header {
    background-color: $primary-color;
    height: $header-height;
    position: relative;
    z-index: 2;

    > .row {
        height: 100%;
    }

    .flex-end {
        > div {
            margin-left: $space-between-links;
            float: left;

            &:nth-of-type(1) {
                margin-left: 0;
            }
        }
    }
}

.hcenter {
    line-height: $header-height;

    button {
        line-height: normal;
    }
}

#logo {
    height: $header-height/2.5;

    img {
        height: 100%;
    }
}