#header {
    margin-bottom: $global-margin;
}

#header-top {
    background-color: $primary-color;
    // height: $header-height;
    position: relative;
    z-index: 2;

    > .row {
        height: 100%;
    }

    .flex-end {
        > div {
            margin-left: $space-between-links;
            float: left;

            &:nth-of-type(1) {
                margin-left: 0;
            }
        }
    }
}

#header-bottom {
    margin-top: -1px;
}

#logo {
    @media only screen and (min-width: 40.063em) {
        height: $header-height/2.5;
    }

    img {
        height: 100%;

        @media only screen and (max-width: 40em) {
            height: $header-height/2;
        }
    }
}
