<div>
    <a class="forgot" data-open="changePassword">{{ "FORGOT_PASSWORD" | translate }}</a>

    <div class="reveal rail-panel small-10 medium-10 large-10" id="changePassword" data-reveal>
        <div class="rail-panel-inner">
            <div class="rail-header">
                {{ "FORGOT_PASSWORD" | translate }}
            </div>
            <div class="rail-content">
                <form>
                    <div class="row">
                        <div class=" columns">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>{{ "WORD_EMAIL" | translate }}</label>
                                <input type="email" data-ng-model="user.email" required/>
                            </md-input-container>
                        </div>
                    </div>
                    <md-button class="md-flat md-primary" data-ng-click="forgot()">{{ "SEND_EMAIL" | translate }}</md-button>
                </form>
            </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" ng-click="close()" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>