<div>
    <div class="row flex-end">
        <div class="medium-4 small-12 medium-expand columns">
            <div class="flex-end">
                <div class="full-width" data-add-comment></div>
            </div>
        </div>
    </div>
    <div class="rail-panel">
        <div class="rail-panel-inner">
            <div class="rail-header">
                <h5>
                    {{ topic.title }}
                </h5>
            </div>
            <div class="rail-meta row">
                <div class="small-12 medium-expand columns">
                    <i class="fa fa-user"></i> <a data-ng-href="/user/{{ topic.user_id }}">{{ topic.user.firstname }} {{ topic.user.lastname }}</a>
                </div>
                <div class="small-12 medium-expand columns text-right">
                    <i class="fa fa-calendar"></i> {{ getDate(topic.created_at) | date }}
                </div>
            </div>
            <div class="rail-content line-breaks">
                {{ topic.description }}
            </div>
        </div>
    </div>
    <div data-ng-if="!resolvedTopics">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div data-ng-if="resolvedTopics">
        <div ng-repeat="comment in topic.comment" class="row">
            <div data-comment class="column"></div>
        </div>
        <div data-ng-if="!topic.comment">
            <h5>{{ "FORUM_NO_COMMENT" | translate }}</h5>
        </div>
    </div>
    <div class="row flex-end">
        <div class="medium-4 small-12 medium-expand columns">
            <div class="flex-end">
                <div class="full-width" data-add-comment></div>
            </div>
        </div>
    </div>
</div>
