<div>
    <div class="rail-panel">
        <div class="rail-panel-inner">
            <div class="rail-header">
                <h3>
                    {{subcategory.title}}
                </h3>
            </div>
            <div class="rail-content a-background">
                <div class="row flex-center" data-ng-repeat="topic in subcategory.topic">
                    <div class="column small-12 medium-6">
                        <a data-ng-href="#/topic/{{ topic.id }}">
                            {{ topic.title }}
                        </a>
                    </div>
                    <div class="column medium-3 hide-for-small-only">
                        <i class="fa fa-user"></i> <a data-ng-href="#/user/{{ topic.user_id }}">{{ topic.user.firstname }} {{ topic.user.lastname }}</a>
                    </div>
                    <div class="column medium-3 hide-for-small-only">
                        <i class="fa fa-calendar"></i> {{ getDate(topic.created_at) | date }}
                    </div>
                </div>
                <div class="text-center flex-center" data-ng-if="!subcategory.topic">
                    <h5>No topics found create the first here!</h5>
                </div>
            </div>
        </div>
    </div>
</div>
