<div>
    <div class="rail-panel" data-ng-if="currentUser.login_count < 5">
        <div class="rail-panel-inner red-border">
            <div class="rail-header red">
                {{ "IMPORTANT_INTRODUCTION" | translate }}
            </div>
            <div class="rail-content">
                <div data-translate="INTRODUCTION" data-translate-value-rules="/rules" data-translate-value-faq="/faq"></div>
            </div>
        </div>
    </div>
    <div class="rail-panel" data-ng-if="currentUser.login_count >= 5">
        <div class="rail-panel-inner">
            <div class="rail-header">
                {{ "WELCOME_BACK" | translate }}
            </div>
            <div class="rail-content">
                <p>{{ "WELCOME" | translate }}</p>

                <span data-translate="LATEST_LOGIN" data-translate-value-date="{{ getDate(currentUser.last_login) | date }}"></span>
            </div>
        </div>
    </div>
</div>