.admin-navbar {
    padding: $global-padding;
    margin: $global-margin 0;
    background: $light-gray;

    a {
        padding: 5px;
        // background: $light-gray;
    }

    .active {
        color: $secondary-color;
    }
}

@media only screen and (max-width: 40em) {
// screen only
}
