#footer {
    background: $primary-color;
    padding: $global-padding*2 $global-padding*5;
    color: $black;

    > div {
        padding: $global-padding/4;
    }

    .img {
        width: 50px;
    }

    img {
        width: 100%;
    }

    a {
        color: lighten($black, 20%);

        &:hover {
            color: $black;
            text-decoration: none;
        }
    }
}