#footer {
    margin: $global-margin $global-margin $global-margin*2 $global-margin;
    padding: $global-padding;
    padding-right: $global-padding*4;
    color: grey;
    border-top: 1px solid grey;

    a {
        color: grey;

        &:hover {
            text-decoration: none;
        }
    }
}