<div id="footer">
    <div class="flex flex-horizontal-center">
        <div class="img">
            <img data-ng-src="assets/img/logo-small.png" alt="Logo">
        </div>
    </div>
    <div class="flex flex-horizontal-center">
        <ul class="ul-normalize" data-ng-if="!isLoggedIn()">
            <li><a href="nologin/faq">{{ "NAV_FAQ" | translate }}</a></li>
            <li><a href="nologin/rules">{{ "NAV_RULES" | translate }}</a></li>
            <li><a href="nologin/legal">Legal policy</a></li>
        </ul>
        <ul class="ul-normalize" data-ng-if="isLoggedIn()">
            <li><a href="faq">{{ "NAV_FAQ" | translate }}</a></li>
            <li><a href="rules">{{ "NAV_RULES" | translate }}</a></li>
            <li><a href="legal">Legal policy</a></li>
        </ul>
    </div>
    <div class="flex flex-horizontal-center copyright">
        © Museu del Ferrocarril de Catalunya
    </div>
</div>
<div data-scroll-top></div>