<form name="signupForm">
    <span>{{ error | translate }}</span>
    <div layout="column" class="login md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>{{ "SIGNUP" | translate }}</span></h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">
            <div class="row">
                <div class="small-12 medium-6 large-6 columns">
                    <md-input-container  class="md-block" flex-gt-xs>
                        <label>{{ "WORD_FIRST_NAME" | translate }}</label>
                        <input type="text" data-ng-model="user.firstname" required/>
                    </md-input-container>
                </div>
                <div class="small-12 medium-6 large-6 columns">
                    <md-input-container  class="md-block" flex-gt-xs>
                        <label>{{ "WORD_LAST_NAME" | translate }}</label>
                        <input type="text" data-ng-model="user.lastname" required/>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-12 large-6 columns">
                    <md-input-container  class="md-block" flex-gt-xs>
                        <label>{{ "WORD_EMAIL" | translate }}</label>
                        <input type="email" data-ng-model="user.email" required/>
                    </md-input-container>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                    <md-input-container  class="md-block" flex-gt-xs>
                        <label>{{ "WORD_BIRTHDAY" | translate }}</label>
                        <input type="date" data-ng-model="user.birthday" max="2100-12-31" min="1900-01-02">
                    </md-input-container>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{ "WORD_GENDER" | translate }}</label>
                        <md-select ng-model="user.gender" required>
                            <md-option value="male"> {{ "WORD_MALE" | translate }} </md-option>
                            <md-option value="female"> {{ "WORD_FEMALE" | translate }} </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 large-6 columns">
                    <md-input-container  class="md-block" flex-gt-xs>
                        <label>{{ "WORD_PASSWORD" | translate }}</label>
                        <input type="password" name="password" data-ng-model="user.password" required/>
                    </md-input-container>
                </div>
                <div class="small-12 medium-6 large-6 columns" >
                    <md-input-container  class="md-block" flex-gt-xs>
                        <label>{{ "PASSWORD_RETYPE" | translate }}</label>
                        <input type="password" match-password="password" data-ng-model="user.passwordConfirm" required/>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-12 large-6 columns">
                    <md-input-container  class="md-block" flex-gt-xs>
                        <label>{{ "WORD_ADDRESS" | translate }}</label>
                        <input type="text" data-ng-model="user.address" required/>
                    </md-input-container>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                    <md-input-container  class="md-block" flex-gt-xs>
                        <label>{{ "WORD_CITY" | translate }}</label>
                        <input type="text" data-ng-model="user.city" max="2100-12-31" min="1900-01-02" required>
                    </md-input-container>
                </div>
                <div class="small-12 medium-6 large-3 columns">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{ "WORD_COUNTRY" | translate }}</label>
                        <md-select ng-model="user.country_id" required>
                            <md-option ng-repeat="country in countries" value="{{country.id}}">
                                {{country.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div class="row" ng-hide='token'>
                <div class="small-12 medium-6 large-6 columns">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{ "WORD_JOB" | translate }}</label>
                        <md-select ng-model="user.job_id" ng-required="{{hide}}">
                            <md-option ng-repeat="job in jobs" value="{{job.id}}" >
                                {{job.title}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="small-12 medium-6 large-6 columns">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>{{ "WORD_COMPANY" | translate }}</label>
                        <md-select ng-model="user.company_id" ng-required="{{hide}}">
                            <md-option ng-repeat="company in companies" value="{{company.id}}">
                                {{company.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div class="row" ng-hide="token">
                <div class="small-12 medium-12 large-12 columns">
                    <md-input-container class="md-block">
                        <label>{{ "WORD_COMMENT" | translate }}</label>
                        <textarea ng-model="user.signup_comment" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" layout-align="center center" style="padding-top:20px;">
                <md-button class="md-raised md-primary" ng-disabled="signupForm.$invalid " data-ng-click="signup()">{{ "SIGNUP" | translate }}</md-button>
                <div flex="flex"></div>
               <md-button class="md-flat md-primary" data-ng-click="back()">{{ "WORD_BACK" | translate }}</md-button>
            </div>
        </md-content>
    </div>
</form>
