<div class="rail-panel">
    <div class="rail-panel-inner">
        <div class="rail-header">
            <h4>
                {{ category.title }}
            </h4>
        </div>
        <div class="rail-content a-background">
            <div class="row flex-center" data-ng-repeat="subcategory in category.subcategory">
                <div class="column small-6">
                    <a data-ng-href="category/{{ subcategory.id }}">
                        <div>
                            {{ subcategory.title }}
                        </div>
                    </a>
                </div>
                <div class="column small-2 hide-for-small-only text-right">
                    <span>{{ "FORUM_TOPIC" | translate }}: {{ subcategory.topic_count }}</span>
                </div>
                <div class="column small-4 hide-for-small-only">
                        <div class="row flex-center">
                            <!-- if latest_comment -->
                            <div class="column small-12"  data-ng-if="subcategory.latest_comment">
                                <div>
                                    <a data-ng-href="topic/{{ subcategory.latest_comment.topic_id }}#comment-{{ subcategory.latest_comment.id }}">
                                        {{ subcategory.latest_comment.topic.title }}
                                    </a>
                                </div>
                                <div><i class="fa fa-user"></i>
                                    <a data-ng-href="user/{{ subcategory.latest_comment.user_id }}">
                                        {{ subcategory.latest_comment.user.firstname }} {{ subcategory.latest_comment.user.lastname }}
                                    </a>
                                </div>
                                <div><i class="fa fa-calendar"></i> {{ categoryCtrl.getDate(subcategory.latest_comment.created_at) | date }}</div>
                            </div>

                            <!-- if latest_topic -->
                            <div class="column small-12"  data-ng-if="subcategory.latest_topic">
                                <div>
                                    <a data-ng-href="topic/{{ subcategory.latest_topic.id }}">
                                        {{ subcategory.latest_topic.title }}
                                    </a>
                                </div>
                                <div><i class="fa fa-user"></i>
                                    <a data-ng-href="user/{{ subcategory.latest_comment.user_id }}">
                                        {{ subcategory.latest_topic.user.firstname }} {{ subcategory.latest_topic.user.lastname }}
                                    </a>
                                </div>
                                <div><i class="fa fa-calendar"></i> {{ categoryCtrl.getDate(subcategory.latest_topic.created_at) | date }}</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>