<div class="rail-panel">
    <div class="rail-panel-inner">
        <div class="rail-header">
            <h4>{{ category.title }}</h4>
        </div>
        <div class="rail-content a-background">
            <div class="row flex-center" data-ng-repeat="subcategory in category.subcategory">
                <div class="column small-6">
                    <a data-ng-href="#/category/{{ subcategory.id }}">
                        <div>
                        {{ subcategory.title }}
                        </div>
                    </a>
                </div>
                <div class="column small-2 hide-for-small-only text-right">
                    <span>Topics: {{ subcategory.topic_count }}</span><br>
                    <span>Comments: {{ subcategory.topic_count }}</span>
                </div>
                <div class="column small-4 hide-for-small-only">
                        <div class="row" ng-if="subcategory.latest_comment">
                            <div class="column small-3">
                                <div class="img">
                                    <img src="" alt="Type Picture">
                                </div>
                            </div>

                            <div class="column small-9">
                                    <div>
                                        <a data-ng-href="#/topic/{{ subcategory.latest_comment.topic_id }}#comment-{{ subcategory.latest_comment.id }}">
                                            {{ subcategory.latest_comment.topic.title }}
                                        </a>
                                    </div>
                                    <div>By 
                                        <a data-ng-href="#/user/{{ subcategory.latest_comment.user_id }}">
                                            {{ subcategory.latest_comment.user.firstname }} {{ subcategory.latest_comment.user.lastname }}
                                        </a>
                                    </div>
                                    <div>{{ getDate(subcategory.latest_comment.created_at) }}</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>